<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plasticene.boot.flow.core.dao.FlowInstanceDAO">
    
    <resultMap id="instanceResultMap" type="com.plasticene.boot.flow.core.entity.FlowInstance">
        <result column="var_map" jdbcType="VARCHAR" property="varMap" javaType="java.util.Map"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>


    <select id="selectInstanceForUpdate" resultMap="instanceResultMap">
        SELECT * FROM `flow_instance` WHERE id = #{instanceId} FOR UPDATE
    </select>

    <select id="pageInstance" resultType="com.plasticene.boot.flow.core.model.vo.FlowInstanceVO">
        SELECT fi.id,
               fi.definition_id,
               fi.business_id,
               fd.name,
               fd.code,
               fi.category,
               fi.current_node_key,
               fi.current_node_name,
               fi.status,
               fi.start_time,
               fi.end_time
        FROM flow_instance fi
        INNER JOIN flow_definition fd ON fd.id = fi.definition_id
        <where>
            fi.org_id = #{query.orgId}
            <if test="query.userId != null">
                AND fi.user_id= #{query.userId}
            </if>
            <if test="query.keyword != null and query.keyword != ''">
                AND (fd.name LIKE CONCAT('%', #{query.keyword}, '%')
                OR fd.code LIKE CONCAT('%', #{query.keyword}, '%'))
            </if>
            <if test="query.category != null and query.category != ''">
                AND fi.category = #{query.category}
            </if>
            <if test="query.status != null">
                AND fi.status = #{query.status}
            </if>
            <if test="query.startTimeBegin != null">
                AND fi.start_time <![CDATA[>=]]> #{query.startTimeBegin}
            </if>
            <if test="query.startTimeEnd != null">
                AND fi.start_time <![CDATA[<=]]> #{query.startTimeEnd}
            </if>
        </where>
        ORDER BY fi.start_time DESC, fi.id DESC
    </select>
</mapper>
