<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plasticene.boot.flow.core.dao.FlowTaskDAO">


    <update id="incrementCompletedBranch">
        update flow_task set completed_branch = completed_branch + 1
              where instance_id = #{instanceId} and node_key = #{nodeKey};
    </update>
</mapper>