<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plasticene.boot.flow.core.dao.FlowInstanceDAO">
    
    <resultMap id="instanceResultMap" type="com.plasticene.boot.flow.core.entity.FlowInstance">
        <result column="var_map" jdbcType="VARCHAR" property="varMap" javaType="java.util.Map"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>


    <select id="selectInstanceForUpdate" resultMap="instanceResultMap">
        SELECT * FROM `flow_instance` WHERE id = #{instanceId} FOR UPDATE
    </select>
</mapper>