<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plasticene.boot.example.mybatis.dao.UserDAO">
    <resultMap id="userMap" type="com.plasticene.boot.example.mybatis.entity.User">
        <result column="role_id" jdbcType="VARCHAR" property="roleId" javaType="java.util.Set"
                typeHandler="com.plasticene.boot.mybatis.core.handlers.type.LongSetTypeHandler"/>

        <result column="hobby" jdbcType="VARCHAR" property="hobby" javaType="java.util.List"
                typeHandler="com.plasticene.boot.mybatis.core.handlers.type.StringListTypeHandler"/>

        <result column="remark" jdbcType="VARCHAR" property="remark" javaType="java.util.Map"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>

        <result column="name" jdbcType="VARCHAR"  property="name" javaType="java.lang.String"
                typeHandler="com.plasticene.boot.mybatis.core.handlers.EncryptTypeHandler" />
        <result column="phone" jdbcType="VARCHAR"  property="phone" javaType="java.lang.String"
                typeHandler="com.plasticene.boot.mybatis.core.handlers.EncryptTypeHandler" />
        <result column="email" jdbcType="VARCHAR"  property="email" javaType="java.lang.String"
                typeHandler="com.plasticene.boot.mybatis.core.handlers.EncryptTypeHandler" />
    </resultMap>

    <insert id="batchUpdateOnDuplicate">
        INSERT INTO tb_user(user_no, name, phone, address, gender, org_id) VALUES
        <foreach collection="userList" item="item" separator=",">
            (#{item.userNo}, #{item.name}, #{item.phone}, #{item.address}, #{item.gender}, #{item.orgId})
        </foreach>
        ON DUPLICATE KEY UPDATE
        name=VALUES(name), org_id=VALUES(org_id)
    </insert>

    <insert id="batchUpdateReplace">
        REPLACE INTO tb_user(user_no, name, phone, address, gender, org_id) VALUES
        <foreach collection="userList" item="item" separator=",">
            (#{item.userNo}, #{item.name}, #{item.phone}, #{item.address}, #{item.gender}, #{item.orgId})
        </foreach>
    </insert>

    <update id="batchUpdateByForeach">
        <foreach collection="userList" item="u" separator=";">
            UPDATE tb_user
            SET
            update_time = now()
            <if test="u.name != null">
                ,name = #{u.name}
            </if>
            <if test="u.address != null">
                ,address = #{u.address}
            </if>
            <if test="u.gender != null">
                ,gender = #{u.gender}
            </if>
            WHERE id = #{u.id}
        </foreach>
    </update>

    <update id="batchUpdateByCaseWhen">
        UPDATE tb_user
        SET
        update_time=now(),
        name = CASE
        <foreach collection="userList" item="item">
            WHEN id = #{item.id} AND #{item.name} IS NOT NULL THEN #{item.name}
        </foreach>
        ELSE name
        END,
        address = CASE
        <foreach collection="userList" item="item">
            WHEN id = #{item.id} AND #{item.address} IS NOT NULL THEN #{item.address}
        </foreach>
        ELSE address
        END,
        gender = CASE
        <foreach collection="userList" item="item">
            WHEN id = #{item.id} AND #{item.gender} IS NOT NULL THEN #{item.gender}
        </foreach>
        ELSE gender
        END
        WHERE id IN
        <foreach collection="userList" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>


    <select id="getById" resultMap="userMap">
        SELECT * FROM `tb_user` WHERE id=#{id}
    </select>
</mapper>